.text-center {
  justify-content: center;
  display: grid;
  place-items: center;
}

.title-farm {
  margin-bottom: 50px;
  justify-content: center;
}

.title-farm h2 {
  font-size: 56px;
  font-weight: 600;
  width: 1140px;
  margin-bottom: -50px;
}

.moving-right {
  margin-right: 0px;
}

.go-back {
  width: 90px;
  margin-top: 50px;
  font-family: 'Noticia Text', serif;
  font-weight: bold;
  font-size: 20px;
}

.card-farm-show {
  justify-content: center;
  width: 1140px;
  margin-right: -300px;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: 840px 300px;
  margin-left: -260px;
  border: none;
}

.centered {
  // position: absolute;
  width: 840px;
  margin-top: -50px;
  margin-bottom: -40px;
  // padding: 50px 50px 50px 50px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-68%, 51%);
  font-family: GTPressuraMono,sans-serif;
}

.img-farm-container {
  overflow: hidden;
  width: 840px;
  height: 300px;
  display: grid;
  place-items: center;
  margin-bottom: 70px;
}

.img-farm {
  height: 600px;
  width: 840px;
  margin-top: -100px;
  margin-left: 0px;
  margin-right: 300px;
}

.farmer-info {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
}

.farmer-info p {
  position: absolute;
  top: 62%;
  left: 83%;
  // transform: translate(-50%, -50%);
  font-family: GTPressuraMono,sans-serif;
  font-weight: bold;
}

.img-farmer {
  width: 300px;
  height: 300px;
  // border-radius: 50%;
  margin: 0px 0px 0px 0px;
  padding: 30px 50px 50px 50px;
  object-fit: cover;
}

.farm-product-card {
  background-color: transparent;

}

.farm-product-card input{
  background-color: transparent;

}

input#order_product_quantity {
  background-color:transparent;
}

.grid-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 104px;
  margin-right: 104px;
}

.card-product img {
    // height: 100%;
    width: 320px;
    height:320px;
    object-fit: cover;
    margin: 0px 0px 0px 0px;
}

.product-image-padding{
  padding-top: 50px;
  padding-right: 20px;
}

.container-back{
font-family: 'Noticia Text', serif;
font-weight: bold;
font-size:25px;
}

.container7 {
    display: flex;
    justify-content: flex-start;
    margin-top: 82px;
    margin-bottom: -38px;
    font-family: 'Noticia Text', serif;
    font-weight: bold;
    align-content: flex-end;
    margin-left: 71px;
}

i.fas.fa-trash {
    font-size: 18px;
}

.container-farms {
  position: relative;
  text-align: center;
  border-left:1px solid;
  border-right:1px solid;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#order_product_quantity {
  width: 64px;
  text-align: center;
  padding: 0;
  border: 2px solid black;
  font-weight: 600;
  font-size: 24px;
  color: black;
}

.quantity-order-product {
  width: 288px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.edit_order_product {
  display: flex;
}

.signs {
  font-size: 24px;
  font-weight: 600;
  margin: auto 16px;
  padding: 0 8px;
  border: 2px solid black;
  color: black;
  border-radius: 4px;
  width: 36px;
  height: 40px;
}

#empty-sign {
  border: none;
}



element.style {
    font-family: Plaak-SemicondensedRegular,sans-serif;
    font-size: 20px;
    font-weight: 600;
}
input[type="submit"] {
  font-family: Plaak-SemicondensedRegular,sans-serif;
  font-size: 20px;
  font-weight: 600;
};
