h2 {
  border-bottom: solid 1px;
  border-top: solid 1px;
}
h6 {
  font-family:'Noticia Text';
  text-align: right;
  margin-right: 129px;
}

.grid-products {
  border-top: solid 1px;
}

input[type="submit"] {
    background-color:#F6F2D5;
    border: none;
    font-family: 'Noticia Text';
    color:black;
}

input#order_product_quantity {
    background-color: #F6F2D5;
}

.card-farm-show {
    border-bottom: solid 1px;
    margin-bottom: 50px;
}


.row {
    border-right: solid 1px;
    border-left: solid 1px;
    padding-right: 32px;
    padding-left: 32px;
}
