.basket-title-fix {
justify-content: flex-end;
}

.basket-title {
  position: relative;
}

.basket-title-2 {
  position: relative;
}

h4.basket-title-2 {
  width:125px;
  margin-right:155px;
}

.total-price-fix{
  width:115px;
  margin-right:155px;
}
