.product-searchbar {
background: red;
color: red;
padding: 50px 50px 50px 50px;
}
.product-searchbar input {
background: red;
color: red;
padding: 50px 50px 50px 50px;
}

input#product-searchbar {
background: red;
color: red;
padding: 50px 50px 50px 50px;
}
