.back-to-farm {
  float: left;
  position: left;
  width: 190px;
  height: 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  margin-right: 1000px;
}

.product-info-margin {
  margin: none;
  float: right;
  margin-right: 150px;
}
