 <div class="wrapper">
 <div class="container-another">
  <div class="container-form">
      <h2>Basket</h2>
      <div class="container0">
      <h4 id="header">Quantity</h4>
      <h4>Price</h4>
      </div>
      <% @order_products.each do |order_product| %>
    <div class="container0">

      <div class="container01">
       <div class="form-group"> <%= order_product.product.name %></div>
      </div>
      <div class="container01">
        <%= order_product.quantity %>
      </div>
        <%= order_product.product.price * order_product.quantity %>
        <%= link_to order_path(order_product.order), method: :delete, data: {confirm: "Are you sure you would like to delete this item from the basket?"} do %>
          <i class="fas fa-trash"></i>
        <% end %>
    </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
