 <div class="wrapper">
  <div class="container-another">
    <div class="container-form">
      <h2>Checkout summary</h2>
        <div id="items-list">
          <% @order.order_products.each do |order_product| %>
            <div class="container0">
              <div class="container-item-name">
                <p><strong><%= order_product.product.name %></strong> for
                <strong><%= humanized_money_with_symbol order_product.product.price %></strong></p>
              </div>
            </div>
          <% end %>
        </div>
        <div id="items-list">
          <div class="container0">
            <div class="container-item-name">
          <span> <h4 id="pay">Pay</h4><span>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
            });
            });
           </script>
        </div>
    </div>
  </div>
</div>
