.container-bottom-basket {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
  border: 1px solid black;
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    padding-top: 13px;
    padding-bottom: 8px;
    padding-left: 41px;
    padding-right: 80px;
}
