.weatherforcastbox{
    // position: relative;
    border: 3px double #2f2f2f;
    line-height: 20px;
    margin-top: 20px;
}

.weatherbox {
  display:flex;
  justify-content: space-beteen;

}

h1 {
  font-family: Plaak-SemicondensedRegular,sans-serif;
  font-size: 233px;
  text-align: center;
}

// .background_img {
//   display:flex;
//   align-items: flex-end;
//   justify-content: space-around;
//   width:50vw;
//   height:30px;
//   background-size:cover;
// }

h2 {
    font-family: Plaak-SemicondensedRegular,sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

img.d-block.w-100.carousel-img {
    height: 720px;
}

.container {
  position: relative;
  text-align: center;
  // color: white;
}
.top-left {
position: absolute;
top: 32px;
left: 66px;
font-size: 34px;
color:#F6F2D5;
}

// body {
//   display: table;
//   width: 100%;
//   height: 100vh;
//   margin: 0;
//   background: #333;
//   font-family: 'Roboto Condensed', sans-serif;
//   font-size: 20px;
//   font-weight: 300;
//   letter-spacing: 5px;
//   text-transform: uppercase;
//   color: #fff;
// }

// .container {
//   display: table-cell;
//   vertical-align: middle;
//   text-align: center;
//   width: 600px;
// }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 20px;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background:black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background:black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
