h1 {
  font-family: Plaak-SemicondensedRegular,sans-serif;
  font-size: 233px;
  text-align: center;
}

// .background_img {
//   display:flex;
//   align-items: flex-end;
//   justify-content: space-around;
//   width:50vw;
//   height:30px;
//   background-size:cover;
// }

h2 {
    font-family: Plaak-SemicondensedRegular,sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

img.d-block.w-100.carousel-img {
    height: 720px;
}
