ul {
  display: flex;
  align-items: baseline;
}

.nav-farms-margin {
  margin-left: 160px;
}

.my-navbar {
  background-color: transparent!important;
  margin-top: 20px;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  height: 70px;
}
input.btn {
  background-color: transparent!important;
}
a.navbar {
  font-family: GTPressuraMono,sans-serif;
}

.a-link {
  font-family: Plaak-SemicondensedRegular,sans-serif;
  color:black;
}

.drop-down {
  background-color:transparent!important;
  width: 150px;
}

a.dropdown-item {
  background-color: transparent!important;
  font-family: 'Noticia Text', serif;
  color:black;
}

.dropdown-item:hover {
background-color:transparent!important;
text-decoration: underline;
}


img {
 height: 42px;
 width: 43px;
 top: 50%;
 -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  // margin-left: 30px;
  // margin-right: 23px;
  margin-top: 4px;
  margin-bottom: -4px;
}

.nav-link {
  font-family: 'Noticia Text', serif !important;
  color:black;
}

.accordion {
  width: 100%;
  min-width: 950px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 300px;
  font-size: 0;
  display: flex;
  padding: 5px 5px 5px 5px;
}

.tabs {
  display: flex;
  width: 80px;
  height:30px;
  margin-left: 50px;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  @include transition( all 0.4s 0.1s ease-in-out );

  &:hover {
    width: 450px;
    justify-content: space-evenly;

    .nav-link  {
      a {
        &:before {

        }

        &:after {
        }
      }
    }
  }
}

.nav-move {
  display: flex;
  margin-top: -10px;
}

.icon-move {
  margin-top: -3px;
}

.checkout {
  float: right;
}
