.my-navbar {
  background-color: #F6F2D5!important;
  margin-left: 29px;
  margin-top: 20px;
}

a.navbar {
  font-family: GTPressuraMono,sans-serif;
}

.a-link {
  font-family: Plaak-SemicondensedRegular,sans-serif;
}

.drop-down {
  background-color:#F6F2D5;
}
