.container-form-checkout-status {
    width: 70%;
    padding: 30px 90px 90px 90px;
    border: 2px solid black;
    // box-shadow: 20px 20px 0 rgb(0 0 0 / 30%);
    border-radius: 0px;
}

h1#order {
    font-size: 48px;
}


h4#order-text {
  text-align: center;
  font-family:'Noticia Text', serif;
  font-size:20px;
  margin-top: 70px;
  text-align: center;
}

.badge-primary {
    color:black;
    background-color: transparent;
    border:2px solid;
}
