<div data-show-quantity-target="links">
  <% order_product = OrderProduct.where(order: current_user.orders.first, product: product).first %>
  <%= simple_form_for(order_product, data: { action: "submit->show-quantity#show"}) do |f| %>
    <% if order_product.quantity > 1 %>
      <p data-action="click->show-quantity#decrease">-</p>
    <% end %>
    <%= f.input :quantity, label: false %>
    <p data-action="click->show-quantity#increase">+</p>
  <% end %>
</div>
