<div data-show-quantity-target="links">
  <%= simple_form_for order_product, url: order_product_path(order_product), method: :patch, data: { show_quantity_target: "form2", action: "submit->show-quantity#update_quantity"} do |f| %>
    <% if order_product.quantity > 1 %>
      <span class="signs" data-action="click->show-quantity#decrease">-</span>
    <% else %>
      <p id="empty-sign" class="signs"> </p>
    <% end %>
    <%= f.input :quantity, label: false  %>
    <span class="signs" data-action="click->show-quantity#increase">+</span>
    <%= f.submit "update quantity", class: 'd-none' %>
  <% end %>
</div>
